.zoomcontainer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}

.exp-container {
  height: 100%;
  overflow: auto;
}

.activityText {
  padding: 0.5rem 3rem 0.5rem 1rem;
}

.earth-wrapper, .moon-wrapper {
  background-color: #00579B;
  border-radius: 10px;
  position: relative;
  width: 46%;
  height: 320px;
  float: left;
  margin: 2%;
  margin-top: 0px;
}

.earth-container, .moon-container {
  margin: 2px;
  margin-top: 40px;
  background-color: #FFF;
  height: 278px;
  border-radius: 10px;
  position: relative;
}

.earth-container {
  background-image: url(../images/BG_earth.svg);
  background-repeat: no-repeat;
  background-position: -18px -12px;
  background-size: 550px;
}

.moon-container {
  background-image: url(../images/BG_moon.svg);
  background-repeat: no-repeat;
  background-position: -62px -33px;
  background-size: 690px;
}

.cont-head {
  position: absolute;
  left: 20px;
  top: 8px;
}

.cont-head img {
  width: 36px;
  margin-top: -20px;
}

.cont-head span {
  color: #FFF;
  padding-left: 10px;
  font-family: "Montserrat-Bold";
}

.electric-balance {
  position: absolute;
  width: 180px;
  bottom: 5%;
  left: 5%;
}

.electric-balance .newton {
  position: absolute;
  left: 20px;
  top: 37px;
  width: 71px;
  height: 30px;
}

.electric-balance .kilogram {
  position: absolute;
  left: 91px;
  top: 37px;
  width: 71px;
  height: 30px;
}

.electric-balance .unit {
  color: #fff;
  font-size: 8px;
  text-align: center;
}

.electric-balance .value {
  color: #fff;
  font-size: 10px;
  text-align: right;
  padding-right: 5px;
  font-family: "Montserrat-Bold";
}

.pane-balance {
  position: absolute;
  width: 170px;
  right: 12%;
  top: 22%;
}

.pane-balance .p01 {
  position: absolute;
  width: 70px;
  top: -12px;
  left: -35px;
}

.pane-balance .p02 {
  position: absolute;
  width: 70px;
  top: -12px;
  right: -30px;
}

.pane-balance .p03 {
  position: absolute;
  top: 0;
  left: 0;
}
.pane-balance .p04 {
  position: absolute;
  top: 0;
  left: 0;
}
.pane-balance .pane-bar{
  position: absolute;
  width: 100%;
    height: 25px;
  width: 100%;
  top: 0;
  left: 0;
}

.spring-balance {
  position: absolute;
  right: 25%;
  width: 75px;
  top: 10px;
}

.weighing-pointer {
  position: absolute;
  width: 20px;
  left: 29px;
  top: 33px;
}